@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,700");
@import './reset.scss';

$default-font-family: 'Libre Franklin', sans-serif;
$default-font-weight: 400;
$white: white;
$green: #3F9D24;
$gray: #E2E2E2;
$pale-blue: #D8E5F1;
$light-blue: #467FD7;
$dark-blue: #1E4072;

body {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  background-color: $gray;
  min-width: 650px;
}

input {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  font-size: inherit;
}

button {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 0.25em 0;
}

.plus-icon {
  display: inline-block;
  background-color: $green;
  border-radius: 50%;
  height: 19px;
  width: 19px;
  text-align: center;
}

.page-container {
  background-color: $white;
  margin: 13px;
  padding: 13px;
}

.header {
  font-weight: bold;
}

.header-lg {
  font-size: 30px;
  font-weight: 700;
  margin: 0.25em 0;
}

.section {
  margin: 30px 0px;
}

@import './ui.scss';
@import './NewDocForm.scss';
@import './NavBar.scss';
@import './DocForm.scss';
