@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,700");

$default-font-family: arial, 'Libre Franklin', sans-serif;
$default-font-weight: 300;

body {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
}

input {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
}

button {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
}

@import './NewDocForm.scss';
