$nav-text-color: $white;

nav {
  color: $white;
}

.nav__row1 {
  display: flex;
  justify-content: space-between;
  background-color: $dark-blue;
  padding: 15px;
  align-items: center;
}

.nav__logo {
  font-size: 24px;
}

.nav__row2 {
  display: flex;
  background-color: $light-blue;
  // padding: 5px 0px;
}

.nav__row2-item {
  border-right: 1px solid $nav-text-color;
  padding: 10px 15px;
}

.nav__row2-text_left-of-icon {
  display: inline-block;
  padding-left: 5px;
}
