.edit-doc-container {
    
}

.problems-container {
  display: flex;
  justify-content: space-between;
}

.toolbox {
  width: 225px;
  border: 1px solid black;
  margin-left: 20px;
  position: relative;
  top: -40px;
}

.toolbox > * {
  padding: 8px 8px;
}

.toolbox-title {
  text-align: center;
  background-color: $light-blue;
  color: $white;
  font-weight: bold;
}

.toolbox-instructions {
  background-color: $gray;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.tools {
  margin: 0px 10px;
}

.new-form-text-piece-input {
  border: 0;
  outline: 0;
  background: transparent;
  padding-bottom: 2px;
}

.new-form-answer-input {
  margin: 0px 4px 1px 0px;
}

.new-form-text-pieces {
  display: inline-flex;
  align-items: flex-end;
  padding-bottom: 3px;
  margin: 10px;
  border-bottom: 1px solid gray;
}

.modify-blank {
  border-radius: 50%;
  border-width: 1px;
  padding: 0px 4px;
  margin-right: 6px;
}

.modify-blank:hover {
  cursor: pointer;
}

.remove-blank {
  padding: 0px 6px;
  font-weight: bold;
  background-color: red;
  color: white;
}

.problem {
  border: 1px dotted black;
  padding: 10px;
  margin: 4px;
}

.blank {
  border: 1px solid #a9a9a9;
  align-items: center;
  display: flex;
  margin: 0px 7px;
}

.blank input {
  border: none;
}
